body{
    display: flex;
    flex-wrap: wrap;
    /* align-content:; */
}

.container{
    
    border: 6px solid lightgray;
    width: 500px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    /* align-items: flex-start; */
    /* justify-content: space-evenly; */

}
#flex-start{
    align-items: flex-start;
}
#flex-end{
    align-content: flex-end;
}
#center{
    align-content: center;
}
#stretch{
    align-content: stretch;
}
#space-around{
    align-content:space-around ;
}
#space-between{
    align-content: space-between;
}
#space-evenly {
    align-content : space-evenly;
}




.flex-item {
    color: black;
    font-size: 2rem;
    padding: 1rem;
    text-align: center; 
    border: 1px solid black;
}

.item-1{
    background-color: lightblue;
    align-self: flex-end;
}

.item-2{
    background-color: lightyellow;
}

.item-3{
    background-color: lightpink;

}
.item-4{
    background-color: lightgreen;
    align-self: stretch;

}
.item-5{
    background-color: lightgray;

}
.item-6{
    background-color: lightsalmon;
}.item-7{
    background-color: lightseagreen;
}
